@define-color bg-light #7c818c;
@define-color bg-dark #383c4a;

@define-color mauve rgb(203, 166, 247);
@define-color red rgb(243, 139, 168);
@define-color maroon rgb(235, 160, 172);
@define-color peach rgb(250, 179, 135);
@define-color yellow rgb(249, 226, 175);
@define-color green rgb(166, 227, 161);
@define-color blue rgb(137, 180, 250);

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  min-height: 30px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  border-radius: 10px;
  margin-right: 8px;
  transition: none;
}

#workspaces button {
  padding: 2px 6px; /* icons fuck up the width */
  transition: none;
  background: transparent;
  color: @red;
  font-weight: 900;
  font-size: 16px;
}

#workspaces button:nth-child(3n + 1):not(:first-child) {
  margin-left: 8px;
}

#workspaces button.urgent {
  color: @blue;
}

#workspaces button.active {
  color: @peach;
}

#workspaces button.default {
  color: @red;
}

#workspaces button.empty {
  color: @bg-light;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  border-radius: 10px;
  background: @bg-dark;
}

#workspaces button.empty:hover {
  color: @bg-dark;
}

tooltip label {
  margin: 8px;
  font-size: 14px;
}

#network {
  min-width: 180px;
}

#cpu {
  min-width: 80px;
}

#network,
#cpu,
#clock,
#memory,
#window,
#wireplumber,
#tray,
#privacy,
#workspaces,
#battery,
#custom-notification,
#custom-spotify,
#custom-power-group,
#custom-quit,
#custom-lock,
#custom-reboot,
#custom-power {
  margin: 2px 4px;
  padding: 0 12px; /* icons fuck up the width */
  font-size: 14px;
  border-radius: 10px;
  text-shadow: 1px 1px 5px #000;
  transition: none;
  color: #ffffff;
}

/* First and last */
#workspaces {
  margin-left: 0;
}
#custom-power-group {
  margin-right: 0;
}

#workspaces,
#custom-power-group {
  padding: 0 6px 0 0; /* icons fuck up the width */
}

#custom-spotify {
  margin: 0 0 0 -20px;
  padding: 2px 12px 8px 24px;
  font-weight: bold;
}

#image.album-art {
  margin: 0 8px 0 0;
  padding: 0;
}

#privacy,
#custom-notification {
  opacity: 0.5;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
}

#custom-notification {
  font-weight: bolder;
  letter-spacing: -1px;
}

#cpu,
#network,
#memory,
#workspaces,
#clock,
#tray,
#battery,
#wireplumber,
#network.disconnected,
#wireplumber.source-muted,
#network.disconnected,
#wireplumber.muted,
#custom-spotify {
  background-color: alpha(#11111b, 0.5);
}

#battery.warning {
  background-color: alpha(@peach, 0.1);
}

#battery.critical {
  background-color: alpha(@red, 0.1);
}

#custom-power-group,
#custom-quit,
#custom-lock,
#custom-reboot,
#custom-power {
  background-color: alpha(@mauve, 0.25);
  min-width: 40px;
  font-size: 16px;
  color: @mauve;
}

#custom-quit,
#custom-lock,
#custom-reboot,
#custom-power {
  background-color: alpha(@red, 0.15);
  min-width: 24px;
  color: @red;
}
