@define-color bg-light #7c818c;
@define-color bg-dark #383c4a;

@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color blue #89b4fa;

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'Liberation Mono';
    min-height: 20px;
}

window#waybar {
    background: transparent;
    /* background: rgba(203, 166, 247, .05);
    border-bottom: 0.5px solid rgba(203, 166, 247, .5); */
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 8px;
    /* border-radius: 10px; */
    transition: none;
    /* background: @bg-dark; */
    border-bottom: 0.5px solid @peach;
}

#workspaces button {
    transition: none;
    background: transparent;
    color: @red;
    padding: 5px 10px;
    font-size: 18px;
}

#workspaces button:nth-child(3n+1):not(:first-child) {
    margin-left: 16px;
}

#workspaces button.urgent {
    color: @blue;
}

#workspaces button.active {
    color: @peach;
}

#workspaces button.default {
    color: @red;
}

#workspaces button.empty {
    color: @bg-light;
}



/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: 10px;
    background: @bg-light;
}

#workspaces button.empty:hover {
    color: @bg-dark;
}

#workspaces button.focused {
    color: white;
}

tooltip label {
    margin: 8px;
    font-size: 14px;
}

#network,
#cpu,
#clock,
#memory,
#window,
#pulseaudio,
#tray,
#privacy,
#custom-notification,
#custom-spotify,
#battery
{
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    font-size: 14px;
    /* border-radius: 10px; */
    text-shadow: 1px 1px 5px #000;
}

#window {
    padding-top: 8px;
}

#custom-spotify {
    font-weight: bold;
}

#custom-notification {
    opacity: .5;
    font-weight: bolder;
    letter-spacing: 0px;
    padding: 0;
    margin-top: 8px;
}

#custom-notification.none,
#custom-notification.dnd-none,
#custom-notification.dnd-notification {
    opacity: 0;
}

#pulseaudio {
    padding-left: 0px;
    padding-right: 0px;
}

#network,
#cpu,
#memory,
#window,
#pulseaudio,
#tray,
#privacy,
#clock,
#custom-notification,
#custom-spotify,
#battery
{
    transition: none;
    color: #ffffff;
    /* background: @bg-dark; */
}

#image.album-art {
    margin: 0 8px 0 0;
    padding: 0;
}

#cpu,
#network {
    border-bottom: 0.5px solid @blue;
}

#memory,
#workspaces,
#battery.warning {
    border-bottom: 0.5px solid @peach;
}

#clock {
    border-bottom: 0.5px solid @maroon;
}

#window {
    border-bottom: 0.5px solid @yellow;
}

#tray {
    border-bottom: 0.5px solid @mauve;
}

#pulseaudio,
#battery {
    border-bottom: 0.5px solid @green;
}

#privacy,
#network.disconnected,
#pulseaudio.source-muted,
#pulseaudio.muted,
#battery.critical
{
    border-top: 0.5px solid @red;
}
