configuration {
    modi: "combi,filebrowser";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon}{name}";
    window-format: "{t}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "  ";
    //display-drun: " 🪐 ";
    //display-run: "  ";
    display-run: " 🚀 ";
    display-window: " 﩯 ";
    //display-window: " 📦 ";
    //display-network: " 󰤨 ";
    display-combi: " 🐱 ";
    display-filebrowser: " 📦 ";
    display-dmenu: " 🥡 ";
    sidebar-mode: false;
    combi-modi: "window,drun";
}

@theme "catppuccin-macchiato"

window {
    width: 800px;
    border: 3px;
    border-color: #c6a0f6;
}

