@theme "catppuccin-macchiato"

configuration {
  modi: "combi,emoji,calc,filebrowser";
  combi-modi: "window,drun";

  terminal: "kitty";
  drun-display-format: "{icon}{name}";
  window-format: "{t}";
  location: 0;

  disable-history: false;
  hide-scrollbar: true;

  display-drun: "";
  display-run: " 🚀 ";
  display-window: "🍉 ";
  display-network: " 󰤨 ";
  display-combi: " 🐱 ";
  display-filebrowser: " 📦 ";
  display-dmenu: " 🥡 ";

  sidebar-mode: false;
}
